<a href="https://colab.research.google.com/github/everestso/61.67.71.73/blob/master/ch31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
### Extend Euclid
def EE(a, b):
  if b == 0:
    return (a, 1, 0)
  else:
    (dPrime, xPrime, yPrime) = EE(b, a % b)
    (d, x, y) = (dPrime, yPrime, xPrime - (a//b*yPrime))
    return (d, x, y)

In [19]:
a = 12; b=15
print (a, b, EE( a, b))
a= 125; b=300
o = EE( a, b)
print (a, b, o)
print (a*o[1]+b*o[2])

12 15 (3, -1, 1)
125 300 (25, 5, -2)
25

In [20]:
def MLE(a, b, n):
  out = []
  (d, xPrime, yPrime) = EE(a, n)
  if ( b % d == 0 ):
    x0 = (xPrime*b//d) % n
    for i in range(d): 
      out += [(x0 + i*(n//d)) % n ]
  return out
    
print (MLE(14,30,100))

[95, 45]

In [21]:
p=11;  q=29; e=3

n = p * q
phiN = (p-1)*(q-1)
d = MLE(e, 1, phiN)[0]
print (n, phiN, d)

message = 318
c = message**e%n
print (c)
decrypted = c**d%n
print (decrypted)

319 280 187
318
318

In [22]:
p=3;  q=5; e=3

n = p * q
phiN = (p-1)*(q-1)
d = MLE(e, 1, phiN)[0]
print (n, phiN, d)
print (e,d,phiN,e*d % phiN)
message = 3
c = message**e%n
print (c)
decrypted = c**d%n
print (decrypted)

15 8 3
3 3 8 1
12
3

In [23]:
p=13;  q=17; e=5

n = p * q
phiN = (p-1)*(q-1)
d = MLE(e, 1, phiN)[0]
print (n, phiN, d)
print (e,d,phiN,e*d % phiN)

PUBLIC = (e,n)
PRIVATE = (d,n)

221 192 77
5 77 192 1

In [24]:
message = ord('D')
c = message**e%n
decrypted = c**d%n
print ("MESSAGE: ", message)
print ("ENCRYPTED: ", c)
print ("DECRYPTED: ", decrypted)

MESSAGE:  68
ENCRYPTED:  204
DECRYPTED:  68

In [25]:
def ME(a, b, n):
  c = 0
  d = 1
  bVector = bin(b)
  for i in range(len(bVector)):
    c *= 2
    d = (d*d) % n
    if (bVector[i]=='1'):
      c += 1
      d = (d * a) % n
  return d

def ME2(a, b, n):
  c = 0
  d = 1
  bVector = bin(b)[:1:-1]
  k = len(bVector)-1
  print (bVector, bin(b))
  for i in range(k,-1,-1):
    c *= 2
    d = (d*d) % n
    if (bVector[i]=='1'):
      c += 1
      d = (d * a) % n
  return d

a=111; b=113; n=97
a=2; b=521; n=5217
print (a**b%n, ME(a, b, n), ME2(a, b, n))

1001000001 0b1000001001
2312 2312 2312

In [26]:
p, q, e = (7, 13, 5)
p, q, e = (13, 31, 7)

n = p * q
phiN = (p-1)*(q-1)
d = MLE(e, 1, phiN)[0]
print (n, phiN, d)
print (e,d,phiN,e*d % phiN)

PUBLIC = (e,n)
PRIVATE = (d,n)

403 360 103
7 103 360 1

In [27]:
message = ord('Q')-ord('A') + 1
c = message**e%n
decrypted = c**d%n
print ("MESSAGE: ", message)
print ("ENCRYPTED: ", c)
print ("DECRYPTED: ", decrypted)

MESSAGE:  17
ENCRYPTED:  43
DECRYPTED:  17

In [0]:
# GCD

GCD = lambda a, b: GCD(b, a%b) if b else a
Z = lambda n: sorted({i%n for i in range(10000)})
Za = lambda a,n: sorted({i*a%n for i in range(1000)})

Zx = lambda n: sorted ({i%n for i in range(10000) if GCD(i,n)==1})
Zxa = lambda a,n: sorted ({a**i%n for i in range(10000) if GCD(a**i,n)==1})

In [29]:
print(Z(10))

print (Za(5,10))

print (len(Zx(1024)))
print (Zxa(127,1024))
print (Zx(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 5]
512
[1, 127, 257, 383, 513, 639, 769, 895]
[1, 2, 4, 7, 8, 11, 13, 14]

In [30]:
#
# Chinese Remainder Theorem

import numpy as np
A = [2, 3, 2]
N = [3, 5, 7]

M = [np.prod(N)//N[i] for i in range(len(A))]
Minverse = [MLE(M[i], 1, N[i])[0] for i in range(len(A))]

print ("M: ", M)
print ("Minverse: ", Minverse)

C = [M[i]*(Minverse[i] % N[i]) for i in range(len(A))]
print ("C: ", C)

AC = [A[i]*C[i] for i in range(len(A))]

answer = sum(AC) % np.prod(N)
print ("AiCi: ", AC)
print ("Sum AiCi mod n: ", answer)

output = [answer % N[i] for i in range(len(A))]

print ("Answer mod Ni: ", output)

M:  [35, 21, 15]
Minverse:  [2, 1, 1]
C:  [70, 21, 15]
AiCi:  [140, 63, 30]
Sum AiCi mod n:  23
Answer mod Ni:  [2, 3, 2]

In [31]:
A1 = [1, 2, 2, 2, 2, 2, 2, 2]
A2 = [1, 1, 1, 3, 3, 3, 3, 3]
A2b = [5, 5, 9]
A = A2b
N1 = [2, 3, 5, 7, 11, 13, 17, 19]
N2b = [47, 53, 59]
N = N2b

M = [np.prod(N)//N[i] for i in range(len(A))]
Minverse = [MLE(M[i], 1, N[i])[0] for i in range(len(A))]

print ("M: ", M)
print ("Minverse: ", Minverse)

C = [M[i]*(Minverse[i] % N[i]) for i in range(len(A))]
print ("C: ", C)

AC = [A[i]*C[i] for i in range(len(A))]

answer = sum(AC) % np.prod(N)
print ("AiCi: ", AC)
print ("Sum AiCi mod n: ", answer)

output = [answer % N[i] for i in range(len(A))]

print ("Answer mod Ni: ", output)

M:  [3127, 2773, 2491]
Minverse:  [32, 25, 50]
C:  [100064, 69325, 124550]
AiCi:  [500320, 346625, 1120950]
Sum AiCi mod n:  57298
Answer mod Ni:  [5, 5, 9]

In [32]:
def ChineseRemainder(A, N):
  M = [np.prod(N)//N[i] for i in range(len(A))]
  Minverse = [MLE(M[i], 1, N[i])[0] for i in range(len(A))]

  print ("M: ", M)
  print ("Minverse: ", Minverse)

  C = [M[i]*(Minverse[i] % N[i]) for i in range(len(A))]
  print ("C: ", C)

  AC = [A[i]*C[i] for i in range(len(A))]

  answer = sum(AC) % np.prod(N)
  return answer

N = [47, 53, 59]
As = [ (4, 2, 3), (5, 5, 9), (7, 77, 777), (10, 9, 14) ]

Answers = [(a,ChineseRemainder(a, N)) for a in As]
print ("\nANSWERS")
print (N, Answers,"\n")

N = [3, 5, 7]
As = [ (2, 3, 2), (3, 2, 3), (3, 1, 1) ]

Answers = [(a,ChineseRemainder(a, N)) for a in As]
print ("\nANSWERS")
print (N, Answers,"\n")

N = [61, 67, 71, 73]
As = [ (18, 21, 2, 25), (16, 1, 18, 11), (8, 6, 2, 3) ]

Answers = [(a,ChineseRemainder(a, N)) for a in As]
print ("\nANSWERS")
print (N, Answers,"\n")

M:  [3127, 2773, 2491]
Minverse:  [32, 25, 50]
C:  [100064, 69325, 124550]
M:  [3127, 2773, 2491]
Minverse:  [32, 25, 50]
C:  [100064, 69325, 124550]
M:  [3127, 2773, 2491]
Minverse:  [32, 25, 50]
C:  [100064, 69325, 124550]
M:  [3127, 2773, 2491]
Minverse:  [32, 25, 50]
C:  [100064, 69325, 124550]

ANSWERS
[47, 53, 59] [((4, 2, 3), 30742), ((5, 5, 9), 57298), ((7, 77, 777), 82492), ((10, 9, 14), 134947)]

M:  [35, 21, 15]
Minverse:  [2, 1, 1]
C:  [70, 21, 15]
M:  [35, 21, 15]
Minverse:  [2, 1, 1]
C:  [70, 21, 15]
M:  [35, 21, 15]
Minverse:  [2, 1, 1]
C:  [70, 21, 15]

ANSWERS
[3, 5, 7] [((2, 3, 2), 23), ((3, 2, 3), 87), ((3, 1, 1), 36)]

M:  [347261, 316163, 298351, 290177]
Minverse:  [5, 20, 8, 37]
C:  [1736305, 6323260, 2386808, 10736549]
M:  [347261, 316163, 298351, 290177]
Minverse:  [5, 20, 8, 37]
C:  [1736305, 6323260, 2386808, 10736549]
M:  [347261, 316163, 298351, 290177]
Minverse:  [5, 20, 8, 37]
C:  [1736305, 6323260, 2386808, 10736549]

ANSWERS
[61, 67, 71, 73] [((18, 21, 2, 25), 13570871), ((16, 1, 18, 11), 4522434), ((8, 6, 2, 3), 4081579)]

In [33]:
### Witness

def Witness(a, n):
  t = [i for i in range(int(np.log2(n-1)),-1,-1) if ((n-1)%(2**i))==0][0]
  u = (n-1)//(2**t)
  ## print (n-1,u,t, u*2**t)
  x1 = ME(a, u, n)
  ## print (x1)
  for i in range(t):
    x2 = (x1**2) % n
    ## print (x1, x2)
    if x2 == 1 and x1 != 1 and x1 != n-1:
      return True
    x1 = x2
    ## print (x1)
  if x1 != 1:
    return True  
  return False

n = int(np.random.randint(1000,10000))
print (n,list(range(int(np.log2(n-1)),-1,-1) ))

print (Witness( 5, n ))

6236 [12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
True

In [35]:
def MillerRabin(n, s):
  for j in range(s):
    a = np.random.randint(1,n-1)
    if (Witness(a,n)==True):
      print (n, "COMPOSITE")
      return False
  print (n, "PRIME")
  return True

for i in range(1000):
  x = np.random.randint(1000000,10000000)
  if x%2==0:
    continue
  if (MillerRabin(x, 3)==True):
    print(x,"PRIME")
    break

7310019 COMPOSITE
6702399 COMPOSITE
9554329 PRIME
9554329 PRIME